<!doctype html>
<html lang="en">
<head>
    <title>{{ page.title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{ content_for_header }}
    {{ 'style.css' | asset_url | stylesheet_tag }}
    <script src="{{ 'jquery-3.3.1.min.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'script.js' | asset_url }}" defer="defer"></script>
</head> 
<body>

    {% section 'header' %}

    <main role="main">
        {{ content_for_layout }}

        {% section 'footer' %}
    </main>

    {% section 'currencies' %}
</body>
</html>