<!doctype html>
<html lang="{{ request.locale.iso_code }}">
<head>
    <title>{{ page.title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{ content_for_header }}
    {{ 'style.css' | asset_url | stylesheet_tag }}
</head> 
<body>

    {% section 'header' %}

    {% if template != 'cart' %}
        {% render 'mini-cart' %}
    {% endif %}

    <main role="main">
        {{ content_for_layout }}

        {% section 'footer' %}
    </main>

    <script src="{{ 'jquery-3.3.1.min.js' | asset_url }}"></script>
    {% if settings.show_multiple_currencies %}
        {{ "//cdn.shopify.com/s/javascripts/currencies.js" | script_tag }}
        {{ "jquery.currencies.min.js" | asset_url | script_tag }}
    {% endif %}
    {% render 'currencies' %}
    {{ 'script.js' | asset_url | script_tag }}

</body>
</html>