{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}
{{ featured_image | image_url: width: featured_image.width | image_tag:
loading: 'lazy',
widths: '375, 750, 1100, 1500, 1780, 2000, 3000, 3840',
alt: featured_image.alt
}}
{%- for image in product.images -%}
  <a href="{{ image.src | image_url: width: '750' }}">
    {{ image |
    image_url: width: '750' |
    image_tag: loading: 'lazy',
    widths: '375, 750, 1100, 1500, 1780, 2000, 3000, 3840',
    alt: image.alt
    }}
  </a>
{%- endfor -%}
<h1>{{ product.title }}</h1>
<p>{{ product.description }}</p>

{% render 'add-to-cart-form' %}